<div id="inside-routes-session">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Set #</th>
                <th>Details</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody class="sortable">
            {{#each routeSet in model}}
                <tr>
                    <td>{{add _view.contentIndex 1}}</td>
                    <td>
                        <div>
                        {{#each route in routeSet.routes}}
                            <div>
                                <label>Grade</label>
                                <span>5.</span>
                                {{type-ahead data=App.AllRouteGrades limit=20 name="grade" value=route.grade}}
                                <label>Details</label>

                                {{view Ember.Select
                                    value=route.transition
                                    content=route.transitionOptions
                                    class="form-control"
                                }}

                                <label>Comments</label>
                                {{input type="text" value=route.comments class="route-comments"}}

                                <button {{action "remove" route on="click"}} class="btn btn-delete btn-delete-route">x</button>
                            </div>
                        {{/each}}
                        </div>
                    </td>
                    <td>
                        <button {{action "removeRouteFromSet" routeSet on="click"}} class="btn btn-delete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <button {{action "addRouteToSet" routeSet on="click"}} class="btn btn-success">Add route</button>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>

    <div class="form-group">
        <button class="btn btn-success" {{action "addSet" on="click"}}>Add set</button>
        <button class="btn" {{action "reset" on="click"}}>Reset</button>
    </div>
</div>
